{% extends "home/blog_base.html" %}
{% load markup %}
{% load staticfiles %}

{% block title %}Thank You{% endblock %}

{% block content %}
    <li class="contentbox">
      <h2>Thank you!</h2>
      <p>
	Thank you for your comment. All comments must be approved by an administrator prior to publication.<br />
	<br />
	You are welcome to submit another comment below, or navigate to another article.
      </p>
    </li>
    <li class="contentbox" id="comment-form">
      <form method="post" action="/blog/comment/">
	{{ form.as_p }}
	{% csrf_token %}
	<input type="submit">
      </form>
    </li>
{% endblock %}
